{# src/BLOG/GeneralBundle/Resources/views/Article/add.html.twig #}

{# Mise en place du template fils #}

{# Référence au template père  src/BLOG/GeneralBundle/Resources/views/Templatesmasters #}
{% extends "BLOGGeneralBundle:Templatesmasters:layout.html.twig" %}

{# Affichage le lien d'accès du fichier #}
{% block urlfile %}
    src/BLOG/GeneralBundle/Resources/views/Article/add.html.twig
{% endblock %}

{# parent() appelle le contenu du block du template père #}
{% block title %}
    Ajouter une annonce - {{ parent() }}    
{% endblock %}

{# On envoi le contenu au block body du template père #}
{% block bloggeneral_body %}
    <h2>{{ action }}</h2>
    
    {{ include("BLOGGeneralBundle:Article:form.html.twig") }}

    <p>
        Attention : cette annonce sera ajoutée directement après validation du formulaire.
    </p>
{% endblock %}

{% block js_layout_bundle %}
    {{ parent() }} 
    <script src="{{ asset('public/js/bootstrap/bootstrap-datetimepicker.min.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $('.datepicker').datepicker({
            dayNames: [ "Dimanche", "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi" ],
            dayNamesMin: [ "Dim", "Lun", "Mar", "Mer", "Jeu", "Ven", "Sam" ],
            monthNames: [ "Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet", "Août", "Septembre", "Octobre", "Novembre", "Décembre" ],
            monthNamesShort: [ "Jan", "Fév", "Mar", "Avr", "Mai", "Jui", "JuL", "Aoû", "Sep", "Oct", "Nov", "Déc"],
            appendText:" (aaaa-mm-jj)",
            dateFormat:"yy-mm-dd H:m",
            //altField: "#datepicker-4",
            altFormat: "DD, d MM, yy"
        });
        //$('#datetimepicker').datetimepicker({
        //    locale: 'es',
        //    useCurrent: false,
        //    sideBySide: true
        //});
    </script>
    
{% endblock %}
